<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/matematica">Matemática</a>
    </li>
</ol>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <a href="#!/matematica/atividade01">
                    <img src="img/matematica/geometric-shapes.png" alt="formas geométricas">
                </a>
            </div>
            <div class="card-footer">
                <a href="#!/matematica/atividade01">Formas geométricas</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>