<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/portugues">Português</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/portugues/atividade01">Soletrando</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/portugues/atividade01/a">{{ titulo }}</a>
    </li>
</ol>

<div class="fundo">
    <div class="row">
        <div class="col-sm-8 text-center">
            <img src="img/portugues/{{ imagemLetra }}.png" title="aa">
            <h1> {{ palavra }} </h1>
            <br>
            <div class="grupoLetras" ng-repea t="n in indices">
                <input class="letra" type="text" style="font-family: Tahoma; font-size: 30px" ng-model="letras[n]" id="letra{{ n + 1}}" ng-keyup="verificarLetra(n + 1)">
            </div>

            <audio preload>
                <source src="audio/portugues/{{ imagemLetra }}.mp3" type="audio/mpeg">
            </audio>
            <br><br><br>
            <audio controls>
                <source src="audio/portugues/{{ palavra }}.mp3" type="audio/mpeg">
            </audio>
        </div>

        <div class="col-sm-4 text-center">
            <img class="figuraSoletrando" src="img/portugues/{{ imagemPalavra }}.png">
        </div>
    </div>
</div>

<br>