<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/portugues">Português</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/portugues/atividade01">Soletrando</a>
    </li>
</ol>

<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-2  text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/a"><img src="img/game-controller.png" title="Iniciar"></a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/a"> INICIAR</a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/a"><img src="img/portugues/letter-a.png" title="A"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/a"> Letra A</a>
            </div>
        </div>
    </div>

    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/b"><img src="img/portugues/letter-b.png" title="B"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/b"> Letra B</a>
            </div>
        </div>
    </div>

    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/c"><img src="img/portugues/letter-c.png" title="C"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/c"> Letra C</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/d"><img src="img/portugues/letter-d.png" title="D"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/d"> Letra D</a>
            </div>
        </div>
    </div>

    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/e"><img src="img/portugues/letter-e.png" title="E"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/e"> Letra E</a>
            </div>
        </div>
    </div>

    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/f"><img src="img/portugues/letter-f.png" title="E"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/f"> Letra F</a>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/g"><img src="img/portugues/letter-g.png" title="G"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/g"> Letra G</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/h"><img src="img/portugues/letter-h.png" title="H"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/h"> Letra H</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/i"><img src="img/portugues/letter-i.png" title="I"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/i"> Letra I</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/j"><img src="img/portugues/letter-j.png" title="J"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/j"> Letra J</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/k"><img src="img/portugues/letter-k.png" title="K"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/k"> Letra K</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/l"><img src="img/portugues/letter-l.png" title="L"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/l"> Letra L</a>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/m"><img src="img/portugues/letter-m.png" title="M"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/m"> Letra M</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/n"><img src="img/portugues/letter-n.png" title="N"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/n"> Letra N</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/o"><img src="img/portugues/letter-i.png" title="O"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/o"> Letra O</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/p"><img src="img/portugues/letter-p.png" title="P"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/p"> Letra P</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/q"><img src="img/portugues/letter-q.png" title="Q"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/q"> Letra Q</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/r"><img src="img/portugues/letter-r.png" title="R"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/r"> Letra R</a>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/s"><img src="img/portugues/letter-s.png" title="S"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/s"> Letra S</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/t"><img src="img/portugues/letter-t.png" title="T"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/t"> Letra T</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/u"><img src="img/portugues/letter-u.png" title="U"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/u"> Letra U</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/v"><img src="img/portugues/letter-v.png" title="V"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/v"> Letra V</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/x"><img src="img/portugues/letter-x.png" title="X"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/x"> Letra X</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/portugues/atividade01/z"><img src="img/portugues/letter-z.png" title="Z"> </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01/z"> Letra Z</a>
            </div>
        </div>
    </div>
</div>

<br>