@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.ttf);
}
body {
    background-color: #ECECEC !important;
    font-family: "Quicksand" !important;
}

footer{
    background-color: #81CFE0;
    color: #FFFF
}

.barraNavegacao {
    background-color: #81CFE0;
    font-size: 120%;
}

.barraNavegacao a {
    color: white !important;
}

.itemMenu {
    display: block;
}

.itemMenu img {
    width: 200px;
}

.logo {
    width: 100px;
}

#collapsibleNavbar {
    text-align: right;
}

.breadcrumbWebool {
    background-color: #ECECEC;
}

.breadcrumbWebool li a {
    color: #67809F !important;
    text-decoration: none;
    font-weight: bold;
}

.letra {
    width: 60px;
    height: 60px;
    text-align: center
}

.grupoLetras {
    display: inline;
}

.figuraSoletrando {
    height:300px;
}

.imagemContato {
    width: 500px;
}

.areaRA{
    width: 90%; /*80% largura*/
    height: 600px; /*400px altura*/
}

.imagemLetra{
    width: 150px;
}

#game img{
    margin: 5px;
    
}

@media only screen and(max-width: 768px) {
    .letra .grupoLetra {
        display: block;
    }
    .figuraSoletrando {
        width: 200px;
    }
}

/*artes jogo da memoria*/

