<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/historia">História</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/historia/atividade01">Pontos Turísticos de Aquidauana</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/historia/atividade01">Igreja Matriz</a>
    </li>
</ol>

<div class="row"> 
    <div class="col text-center">
        <embed class="areaRA" src="ra/historia/igreja_matriz.html" />
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <audio controls>
            <source src="audio/historia/igreja_matriz.mp3" type="audio/mpeg">
        </audio>
    </div>
<div class="col-md-4"></div>
