<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/artes">Artes</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/artes/atividade01">Jogo da Memória</a>
    </li>
</ol>

<br>

<div class="row">

    <div class="col-md-4 text-center">
        <div class="card text-center">
            <div class="card-body">
                <a href="#!/artes/atividade01/pintor">
                    <img src="img/artes/painter.png" alt="Jogo da Memória - Pintores Brasileiros">
                </a>
            </div>
            <div class="card-footer">
                <a href="#!/artes/atividade01/pintor">Pintores Brasileiros</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 text-center">
        <div class="card text-center">
            <div class="card-body">
                <a href="#!/artes/atividade01/rupestre">
                    <img src="img/artes/rock-art.png" alt="Jogo da Memória - Arte Rupestre">
                </a>
            </div>
            <div class="card-footer">
                <a href="#!/artes/atividade01/rupestre">Arte Rupestre</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 text-center">
            <div class="card text-center">
                <div class="card-body">
                    <a href="#!/artes/atividade01/gotico">
                        <img src="img/artes/gothic.png" alt="Jogo da Memória - Arte Gótica">
                    </a>
                </div>
                <div class="card-footer">
                    <a href="#!/artes/atividade01/gotico">Arte Gótica</a>
                </div>
            </div>
        </div>

</div>