<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/artes">Artes</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/artes/atividade01">Jogo da Memória</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/artes/atividade01/pintor">Artistas Brasileiros</a>
    </li>
</ol>

<div class="row">
    <div class="col text-center">
        <div id="game">
        </div>
    </div>
    <div id="control">
		<input type="button"  class="btn btn-primary" value="Reiniciar" onclick="GameControl.createGame()"/> 
	</div>
</div>