<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/portugues">Português</a>
    </li>
</ol>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <a href="#!/portugues/atividade01">
                    <img src="img/portugues/abc.png" alt="soletrando">
                </a>
            </div>
            <div class="card-footer">
                <a href="#!/portugues/atividade01">Soletrando</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
