<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/historia">Artes</a>
    </li>
</ol>

<div class="row">
    <div class="col-md-4 text-center mx auto"></div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <a href="#!/artes/atividade01">
                    <img src="img/artes/memory.png" alt="Jogo da Memória">
                </a>
            </div>
            <div class="card-footer">
                <a href="#!/artes/atividade01">Artistas Brasileiros</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>