<br>
<br>

<div class="row text-center">
    <div class="col-md-4">
        <a class="itemMenu" href="#!/portugues">
            <img src="img/portugues.png" class="rounded" title="Língua Portuguesa">
        </a>
        <h3>PORTUGUÊS</h3>
    </div>
    <div class="col-md-4">
        <a class="itemMenu" href="#!/matematica">
            <img src="img/math.png" class="rounded" title="Matemática">
        </a>
        <h3>MATEMÁTICA</h3>
    </div>
    <div class="col-md-4">
        <a class="itemMenu" href="#!/historia">
            <img src="img/historia.png" class="rounded" title="História">
        </a>
        <h3>HISTÓRIA</h3>
    </div>
</div>

<br>
<br>

<div class="row text-center">
    <div class="col-md-4">
        <a class="itemMenu" href="#!/artes">
            <img src="img/art.png" class="rounded" title="Artes">
        </a>
        <h3>ARTES</h3>
    </div>
    <div class="col-md-4">
        <a class="itemMenu" href="#!/sobre">
            <img src="img/faq.png" class="rounded" title="Sobre">
        </a>
        <h3>SOBRE</h3>
    </div>
    <div class="col-md-4">
        <a class="itemMenu" href="#!/contato">
            <img src="img/contact.png" class="rounded" title="Contato">
        </a>
        <h3>ENTRE EM CONTATO</h3>
    </div>
</div>