<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/matematica">Matemática</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/matematica/atividade01">Formas geométricas</a>
    </li>
</ol>

<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-2  text-center">
        <div class="card">
            <div class="card-body">
                <a href="#!/matematica/atividade01/circulo"><img src="img/game-controller.png" title="Iniciar"></a>
            </div>
            <div class="card-footer">
                <a href="#!/matematica/atividade01/circulo"> INICIAR</a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
    </div>
</div>

<br>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3 text-center">
            <div class="card">
                <div class="card-body">
                    <a href="#!/matematica/atividade01/circulo"><img src="img/matematica/formas.png" title="Círculo"> </a>
                </div>
                <div class="card-footer">
                    <a href="#!/matematica/atividade01/circulo">Círculo</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="card">
                <div class="card-body">
                    <a href="#!/matematica/atividade01/quadrado"><img src="img/matematica/formas.png" title="Quadrado"> </a>
                </div>
                <div class="card-footer">
                    <a href="#!/matematica/atividade01/quadrado">Quadrado</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3 text-center">
            <div class="card">
                <div class="card-body">
                    <a href="#!/matematica/atividade01/retangulo"><img src="img/matematica/formas.png" title="Retângulo"> </a>
                </div>
                <div class="card-footer">
                    <a href="#!/matematica/atividade01/retangulo">Retângulo</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="card">
                <div class="card-body">
                    <a href="#!/matematica/atividade01/triangulo"><img src="img/matematica/formas.png" title="Triângulo"> </a>
                </div>
                <div class="card-footer">
                    <a href="#!/matematica/atividade01/triangulo">Triângulo</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>

 