<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/historia">História</a>
    </li>
</ol>

<div class="row">
    <div class="col-md-4 text-center mx auto"></div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <a href="#!/historia/atividade01">
                    <img src="img/historia/turismo.png" alt="Pontos Turísticos de Aquidauana">
                </a>
            </div>
            <div class="card-footer">
                <a href="#!/historia/atividade01">Pontos Turísticos de Aquidauana</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>